<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ioreactnativecieid">

  <!-- https://developer.android.com/training/package-visibility/declaring -->
  <queries>
    <package android:name="it.ipzs.cieid" />
    <package android:name="it.ipzs.cieid.collaudo" />
  </queries>
</manifest>
